body{
    background: #ffffff;
    color: #00274C;
    font-size: 20px;
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    /* margin: 2%; */
    padding: 1em;
}
header {
    background-color: #00274C;
    font-size: 20px;
    padding: 1em;
    width: 100%;
}
.skip{
    position: absolute;
    top: -40px;
}

.skip:focus{
    position: static;
    top: 20px;
    width: auto;
    height: auto;
}
li a:link{
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #000dfc;
}
.nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-size: 20px;
    text-align: center;
    margin-top: 1.25em;
    line-height: 1.25em;
}
li a:hover,
li a:focus{
  text-decoration: underline;
}

nav>ul>li{
    padding: 20px;
    border-radius: 8px;
    font-size: 1.3em;
    background-color: #ffffff;
    border: 2px solid #0072ce;
        margin: auto;
        position:relative;
}

li a:visited {
    color: #702082;
}
li a:hover {
    color: #A5A508;
}
li a:active {
    color: #9A3324;
}

ul>li.active {
    font-weight: bold;
    background-color: #bfd9ee;
    text-decoration: underline;
}
h1{
    color: #00274C;
   font-size: 1.75em;
   font-weight: 800;
   font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
h2{
    font-size:1.3em;
    font-weight: 600;
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 2em;
}
h3{
    font-size: 1.25em;
    font-weight: 500;
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin-top: 1.25em;
    margin-bottom: .75em;
}
p{
    font-size: 20px;
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin-top: 1.25em;
    margin-bottom: 1em;
    line-height: 1.25em;
}
#life-outside-classroom{
    margin-bottom: 6%;
}
img{
    border: 3px dotted blue;
    padding: .75em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
img.index{
    height: 300px;
}
#logo{
    border: 3px solid #FFCB05;
    width: 30%;
    max-width: 150px;
    left: 15%;
}
ol{
    font-size: 20px;
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin-top: 1.25em;
    line-height: 1.25em;
    margin-left: 10%;
}
.life-resources {
    margin-top: 5%;
    margin-left: 10%;
}
ul.life-resources>li{
    margin-bottom: 5%;
    list-style-type: disc;
}
section.resources{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}
footer {
    display: flex;
    background-color: #00274C;
    color: #ffffff;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #FFCB05;
}
