body{
    background: #ffffff;
    color: #00274C;
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    /* margin: 2%; */
    padding: 1em;
}
header {
    background-color: #00274C;
    padding: 1em;
    width: 100%;
}
.skip{
    position: absolute;
    top: -40px;
}

.skip:focus{
    position: static;
    top: 20px;
    width: auto;
    height: auto;
}
li a:link{
    font-size: 20px;
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #000dfc;
}
.nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-size: 20px;
    text-align: center;
    margin-top: 1.25em;
    line-height: 1.25em;
}
li a:hover,
li a:focus{
  text-decoration: underline;
}

nav>ul>li{
    padding: 20px;
    border-radius: 8px;
    font-size: 1em;
    background-color: #ffffff;
    border: 2px solid #0072ce;
        margin: auto;
        position:relative;
}

li a:visited {
    color: #702082;
}
li a:hover {
    color: #A5A508;
}
li a:active {
    color: #9A3324;
}

.active {
    font-weight: bold;
}
h1{
    color: #ffffff;
   font-size: xx-large;
   font-weight: 800;
   font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
h2{
    font-size:x-large;
    font-weight: 600;
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 3.5em;
    margin-bottom: 2em;
}
h3{
    font-size: large;
    font-weight: 500;
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin-top: 1.25em;
    margin-left: 5%;
}
p{
    font-size: 20px;
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin-top: 1.25em;
    line-height: 1.25em;
}
img{
    border: 3px dotted blue;
    padding: .75em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
ol{
    font-size: 20px;
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin-top: 1.25em;
    line-height: 1.25em;
    margin-left: 10%;
}
.life-resources {
    margin-left: 10%;
}